<style>
    .body {
        margin: 2%;
    }
</style>

<div class="body">
    <table class="table table-dark table-striped table-hover" style="text-align: center;">
        <thead appSimple>
            <tr>
                <th scope="col" style="width: 25%;">Concept</th>
                <th scope="col">Link</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Bindings</td>
                <td> <a routerLink="/binding">One-way & Two-way</a> </td>
            </tr>

            <tr>
              <td>Directives</td>
              <td> <a routerLink="/directives">In-built & Custom</a> </td>
            </tr>

            <tr>
              <td>Component Communication</td>
              <td> <a routerLink="/communication">Parent-Child</a> </td>
            </tr>

            <tr>
              <td>Reactive Forms</td>
              <td> <a routerLink="/form">Forms</a> </td>
            </tr>

            <tr>
              <td>Weather API</td>
              <td> <a routerLink="/weather">Check Weather</a> </td>
            </tr>
        </tbody>
    </table>
</div>
