<msi-common-header
    [fullWidth]="true"
    [responsive]="responsive_enable"
    [search]="false"
    [emitValueAfterEachChar]="true"
    #header>

  <msi-header-left-plugin-area
      class="msi-common-header-left-plugin-area"
      [applicationName]="header_name"
      applicationHomeUrl="../">

  </msi-header-left-plugin-area>

  <msi-header-right-plugin-area class="msi-common-header-right-plugin-area">
    <div class="msi-common-header-plugin">
      <msi-common-header-clock *ngIf="time_enable"></msi-common-header-clock>
    </div>

    <div class="msi-common-header-plugin">
      <msi-session-manager userNameSurname="Yash Kavaiya" class="msi-session-manager" *ngIf="sessionManager_enable">
        <a class="msi-common-header-dropdown-item sub-link user-action" (click)="logout()">
          <msi-icon [size]="18" name="ic_sign_out"></msi-icon>&nbsp; Logout</a>
      </msi-session-manager>
    </div>
  </msi-header-right-plugin-area>
</msi-common-header>
